In [2]:
from sklearn import preprocessing
from sklearn.cluster import KMeans
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from imblearn.over_sampling import RandomOverSampler
from collections import Counter
import seaborn as sns
import pandas as pd
import re
import spacy
import numpy as np
import matplotlib.pyplot as plt
from gensim.utils import simple_preprocess

nlp = spacy.load('C:\ProgramData\Miniconda3\Lib\site-packages\es_core_news_lg\es_core_news_lg-3.2.0')

In [ ]:
x_train = pd.read_csv("x_train.csv",index_col=False)
y_train = pd.read_csv("y_train.csv",index_col=False)
x_test = pd.read_csv("x_test.csv",index_col=False)
y_test = pd.read_csv("y_test.csv",index_col=False)

In [18]:
kmeans = KMeans(n_clusters=16,init='k-means++',max_iter=300,random_state=0)

# Train the model using the training sets
result=kmeans.fit(x_train)

#Predict Output

#kmeans.score(x_test,y_test)

In [33]:
print(result)

KMeans(n_clusters=16, random_state=0)

In [51]:
clusters = kmeans.labels_
print(len(clusters))

[ 2  2  2 ...  1 12  4]

In [52]:
final=x_train
final['pred']=clusters

In [53]:
final

,POL_MotivoAnulacion,POL_DescripcionMotivo,encoded,pred
0,5.0,pol,"[2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
1,6.0,impago no renueva por precio,"[3, 4, 5, 6, 7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
2,5.0,reemplazo,"[8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
3,7.0,ninguno solicitud asegurado otras causas,"[9, 10, 11, 12, 13, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",2
4,6.0,camibo a allianz,"[1, 14, 15, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",2
...,...,...,...,...
143919,1.0,correo jvidal anulacion,"[77, 3190, 26, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",4
143920,8.0,contrata con banco,"[216, 82, 83, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",2
143921,8.0,vendera veh,"[3159, 919, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",1
143922,3.0,web cia,"[924, 67, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",12
143923,8.0,no expresa motivo,"[4, 2846, 108, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",4

In [60]:
cat1=final.loc[
     (final.POL_MotivoAnulacion == 1),
     [
       "pred"
    ],
]
cat1.value_counts()

pred
2       6714
8       4839
0       1813
12      1421
15       460
11       393
3        177
9        175
13       101
14        87
4         85
1         60
5         50
6         49
10        49
7         38
dtype: int64

In [59]:
cat2=final.loc[
     (final.POL_MotivoAnulacion == 2),
     [
       "pred"
    ],
]
cat2.value_counts()

pred
2       2196
11       591
3        483
12       372
15       316
13       271
4        205
9        199
0        175
6        153
1        143
10       136
5         80
14        65
7         57
8         38
dtype: int64

In [61]:
cat3=final.loc[
     (final.POL_MotivoAnulacion == 3),
     [
       "pred"
    ],
]
cat3.value_counts()

pred
1       11045
12       5241
2        4275
11        409
15        391
3         387
8         360
6         353
0         348
9         202
4         140
13         65
10         60
14         35
5          30
7          20
dtype: int64

In [62]:
cat4=final.loc[
     (final.POL_MotivoAnulacion == 4),
     [
       "pred"
    ],
]
cat4.value_counts()

pred
2       1442
11       768
15       299
0        211
12       138
9         74
5         57
13        56
3         40
6         33
14        33
4         32
7         29
1         28
10        19
8         18
dtype: int64

In [63]:
cat5=final.loc[
     (final.POL_MotivoAnulacion == 5),
     [
       "pred"
    ],
]
cat5.value_counts()

pred
2       11163
3         749
12        729
15        687
11        638
0         413
1         323
10        278
5         249
9         249
6         246
13        216
4         185
14        142
7          91
8          82
dtype: int64

In [64]:
cat6=final.loc[
     (final.POL_MotivoAnulacion == 6),
     [
       "pred"
    ],
]
cat6.value_counts()

pred
2       6902
12      1368
0        683
15       590
1        456
10       419
11       321
8        281
3        169
9        164
6        145
13       139
4        135
14        93
5         47
7         17
dtype: int64

In [65]:
cat7=final.loc[
     (final.POL_MotivoAnulacion == 7),
     [
       "pred"
    ],
]
cat7.value_counts()

pred
2       11312
1        5704
11       1235
15       1193
12        940
10        865
0         839
3         820
13        339
9         335
4         285
6         238
7         158
14        143
8         116
5         114
dtype: int64

In [66]:
cat8=final.loc[
     (final.POL_MotivoAnulacion == 8),
     [
       "pred"
    ],
]
cat8.value_counts()

pred
2       10092
1        2537
15       1950
12       1532
0        1296
11       1132
10        899
4         680
9         581
13        421
3         322
8         276
6         218
14        217
5         193
7         105
dtype: int64

In [67]:
cat9=final.loc[
     (final.POL_MotivoAnulacion == 9),
     [
       "pred"
    ],
]
cat9.value_counts()

pred
2       348
12       89
15       31
11       23
0        13
4        12
3         9
9         7
13        6
10        5
8         4
14        4
1         3
5         2
6         1
dtype: int64

In [68]:
cat10=final.loc[
     (final.POL_MotivoAnulacion == 10),
     [
       "pred"
    ],
]
cat10.value_counts()

pred
2       1890
11       420
12       218
6        196
0        129
15       102
9        101
1         73
8         57
3         41
10        36
13        34
4         33
14        15
7         11
5          6
dtype: int64

In [69]:
cat11=final.loc[
     (final.POL_MotivoAnulacion == 11),
     [
       "pred"
    ],
]
cat11.value_counts()

pred
1       1193
2       1133
3        754
12       329
15       235
6        205
11        73
0         50
13        46
4         44
9         44
10        36
14        34
7         33
5         15
8          5
dtype: int64

Metricas